/public/uploads/*
/public/wp-content/themes/*
!/public/wp-content/themes/custom-*
/public/wp-content/plugins/*
!/public/wp-content/plugins/custom-*
/public/wp-core/*
/vendor

!/public/wp-core/wp-config.php
/wp-config.php